In [2]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd
import finnhub
import

In [3]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - There is no [win32] chromedriver for browser 88.0.4324 in cache
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Trying to download new driver from http://chromedriver.storage.googleapis.com/88.0.4324.96/chromedriver_win32.zip
[WDM] - Driver has been saved in cache [C:\Users\ianko\.wdm\drivers\chromedriver\win32\88.0.4324.96]

In [ ]:
url = 'https://www.wsj.com/news/archive/years'

In [4]:
# Setup client
from config import api_finn
finnhub_client = finnhub.Client(api_key=api_finn)

In [5]:
# Stock candles
res = finnhub_client.stock_candles('AAPL', 'D', 1590988249, 1591852249)
print(res)

{'c': [321.85, 323.34, 325.12, 322.32, 331.5, 333.46, 343.99, 352.84, 335.9], 'h': [322.35, 323.44, 326.2, 325.62, 331.75, 333.6, 345.61, 354.77, 351.06], 'l': [317.21, 318.93, 322.3, 320.78, 323.23, 327.32, 332.01, 346.09, 335.48], 'o': [317.75, 320.745, 324.66, 324.39, 323.35, 330.25, 332.14, 347.9, 349.31], 's': 'ok', 't': [1590969600, 1591056000, 1591142400, 1591228800, 1591315200, 1591574400, 1591660800, 1591747200, 1591833600], 'v': [20254653, 21910704, 26122804, 21890091, 34312550, 23913634, 36928091, 41662938, 50415613]}

In [6]:
#Convert to Pandas Dataframe
pd.DataFrame(res)

        c       h       l        o   s           t         v
0  321.85  322.35  317.21  317.750  ok  1590969600  20254653
1  323.34  323.44  318.93  320.745  ok  1591056000  21910704
2  325.12  326.20  322.30  324.660  ok  1591142400  26122804
3  322.32  325.62  320.78  324.390  ok  1591228800  21890091
4  331.50  331.75  323.23  323.350  ok  1591315200  34312550
5  333.46  333.60  327.32  330.250  ok  1591574400  23913634
6  343.99  345.61  332.01  332.140  ok  1591660800  36928091
7  352.84  354.77  346.09  347.900  ok  1591747200  41662938
8  335.90  351.06  335.48  349.310  ok  1591833600  50415613

In [38]:
res2 = finnhub_client.stock_candles('GME', 'D', 1599886800, 1612159200)
print(res2)

{'c': [6.91, 7.09, 8.68, 9.2, 9.47, 8.75, 10.56, 10.04, 9.14, 10.02, 10.09, 10.35, 10.2, 9.77, 9.39, 9.46, 9.13, 9.36, 13.49, 12.02, 11.8, 11.88, 12.25, 13.83, 13.31, 13.91, 13.86, 14.1, 14.91, 15, 13.45, 12.69, 11.82, 11.73, 10.47, 10.75, 11.57, 10.91, 11.45, 11.86, 11.49, 11.1, 11.75, 11.13, 11.01, 12.06, 11.63, 11.57, 12.46, 12.71, 13.9, 13.67, 14.75, 16.08, 16.56, 15.8, 16.58, 16.12, 16.9, 16.35, 16.94, 13.66, 14.12, 13.31, 12.72, 13.85, 13.85, 14.83, 15.63, 15.53, 19.46, 20.57, 20.15, 20.99, 19.38, 19.26, 18.84, 17.25, 17.37, 18.36, 18.08, 17.69, 19.94, 19.95, 31.4, 39.91, 35.5, 39.36, 39.12, 43.03, 65.01, 76.79, 147.98, 347.51, 193.6, 325, 225], 'h': [7, 7.26, 9.04, 9.77, 9.77, 9.6, 11.1699, 10.86, 9.81, 10.1826, 10.26, 10.65, 10.7597, 10.25, 9.78, 9.59, 9.835, 9.56, 13.64, 14.8, 12.7662, 12.42, 12.68, 15.1, 13.9, 14.5, 14.143, 14.42, 15.87, 15.38, 15.45, 13.71, 13.05, 12.25, 11.64, 11.09, 11.86, 11.7699, 11.84, 12.17, 12.93, 11.66, 11.95, 11.87, 11.55, 12.6602, 11.92, 12.04, 12.79, 13.46, 14.12, 14.26, 15.25, 16.74, 19.42, 17.4, 16.68, 16.64, 17.29, 17.5, 17.21, 14.73, 14.41, 14, 13.4335, 14.02, 14.305, 14.98, 16.3, 16.348, 20.04, 22.3499, 21.48, 21.97, 21.07, 20, 19.8, 19.1, 18.0765, 18.98, 19.45, 18.3, 20.65, 20.4, 38.65, 43.06, 40.75, 45.52, 41.1899, 44.75, 76.7573, 159.18, 150, 380, 483, 413.98, 322], 'l': [6.43, 6.685, 7.03, 8.41, 8.91, 8.38, 9.9, 9.92, 9.01, 9.1, 9.55, 9.93, 10.06, 9.69, 9.3, 9.2502, 9.1, 9.1678, 9.19, 11.9, 11.4, 11.65, 12.05, 11.99, 13.08, 13.38, 13.665, 13.8, 14.19, 14.55, 13.26, 12.36, 11.78, 11.6801, 10.36, 10.5, 10.63, 10.61, 11.06, 11.32, 11.25, 10.83, 11.21, 10.97, 11, 10.72, 11.23, 11.56, 11.45, 12.54, 12.67, 13.3, 13.42, 14.88, 16.5575, 15.76, 15.38, 15.87, 16.26, 16.22, 15.93, 13.225, 13.05, 13.02, 12.14, 12.48, 13.58, 13.59, 15.18, 15.28, 16.15, 19.13, 19.95, 20.35, 18.56, 18.85, 18.8, 17.15, 17.23, 17.33, 18.02, 17.08, 19.01, 19.3168, 20.03, 33.05, 34.01, 36.64, 36.06, 37, 42.32, 61.13, 80.2, 249, 112.25, 250, 212], 'o': [6.8, 6.86, 7.03, 8.57, 9.2, 9.35, 10.45, 10.6, 9.71, 9.19, 10.16, 10, 10.25, 10.09, 9.38, 9.44, 9.56, 9.23, 9.54, 12.83, 11.66, 11.73, 12.67, 11.99, 13.77, 13.44, 14.03, 13.9, 14.2, 15.05, 14.93, 13.71, 12.27, 11.88, 11.64, 10.82, 10.75, 11.76, 11.27, 11.52, 12.76, 11.5, 11.5, 11.74, 11.36, 11.16, 11.65, 11.8, 11.6, 12.55, 12.9, 14.23, 13.6, 15.29, 18.17, 17.11, 15.7, 16.48, 16.3, 17, 16.37, 13.92, 13.12, 13.91, 13.34, 12.78, 13.96, 13.96, 15.78, 15.81, 16.22, 20.17, 21.01, 21.31, 20.82, 19.38, 19.25, 19, 17.35, 17.34, 18.47, 18.18, 19.41, 19.96, 20.42, 38.09, 38.49, 41.55, 37.37, 39.23, 42.59, 96.73, 88.56, 354.83, 265, 379.71, 316.56], 's': 'ok', 't': [1600041600, 1600128000, 1600214400, 1600300800, 1600387200, 1600646400, 1600732800, 1600819200, 1600905600, 1600992000, 1601251200, 1601337600, 1601424000, 1601510400, 1601596800, 1601856000, 1601942400, 1602028800, 1602115200, 1602201600, 1602460800, 1602547200, 1602633600, 1602720000, 1602806400, 1603065600, 1603152000, 1603238400, 1603324800, 1603411200, 1603670400, 1603756800, 1603843200, 1603929600, 1604016000, 1604275200, 1604361600, 1604448000, 1604534400, 1604620800, 1604880000, 1604966400, 1605052800, 1605139200, 1605225600, 1605484800, 1605571200, 1605657600, 1605744000, 1605830400, 1606089600, 1606176000, 1606262400, 1606435200, 1606694400, 1606780800, 1606867200, 1606953600, 1607040000, 1607299200, 1607385600, 1607472000, 1607558400, 1607644800, 1607904000, 1607990400, 1608076800, 1608163200, 1608249600, 1608508800, 1608595200, 1608681600, 1608768000, 1609113600, 1609200000, 1609286400, 1609372800, 1609718400, 1609804800, 1609891200, 1609977600, 1610064000, 1610323200, 1610409600, 1610496000, 1610582400, 1610668800, 1611014400, 1611100800, 1611187200, 1611273600, 1611532800, 1611619200, 1611705600, 1611792000, 1611878400, 1612137600], 'v': [10118972, 5743489, 19346508, 17026720, 17407513, 7639806, 34752484, 10651152, 7938838, 7515157, 6764323, 5244339, 6079033, 4554055, 4340484, 2804969, 4535421, 3308644, 76453557, 77152780, 23655701, 10179708, 10776762, 39894822, 11651578, 13169073, 6603951, 5361928, 16212232, 6507324, 13376269, 7231006, 6388580, 4165843, 11562367, 5227011, 7454472, 5807871, 4705245, 5518243, 6244865, 3825963, 4882569, 4355892, 3546171, 9774824, 6678176, 3169222, 11787613, 8402347, 9607973, 7186710, 8860092, 12504197, 31983498, 12666027, 7883380, 6294965, 8972672, 7386258, 16120163, 24357944, 7558922, 7496868, 10007092, 8192856, 5865123, 8194902, 16618776, 9876128, 30687718, 25830256, 6262174, 8965858, 9241441, 5934391, 6922652, 10022474, 4961457, 6056248, 6129276, 6481960, 14927612, 7060665, 144501736, 93717410, 46866358, 74721924, 33471789, 57079754, 197157946, 177874000, 178587974, 93396666, 58815805, 50566055, 37382152]}

In [39]:
#Convert to Pandas Dataframe
GME = pd.DataFrame(res2)
GME

         c       h        l       o   s           t          v
0     6.91    7.00    6.430    6.80  ok  1600041600   10118972
1     7.09    7.26    6.685    6.86  ok  1600128000    5743489
2     8.68    9.04    7.030    7.03  ok  1600214400   19346508
3     9.20    9.77    8.410    8.57  ok  1600300800   17026720
4     9.47    9.77    8.910    9.20  ok  1600387200   17407513
..     ...     ...      ...     ...  ..         ...        ...
92  147.98  150.00   80.200   88.56  ok  1611619200  178587974
93  347.51  380.00  249.000  354.83  ok  1611705600   93396666
94  193.60  483.00  112.250  265.00  ok  1611792000   58815805
95  325.00  413.98  250.000  379.71  ok  1611878400   50566055
96  225.00  322.00  212.000  316.56  ok  1612137600   37382152

[97 rows x 7 columns]

In [43]:
Time_clean=pd.to_datetime(GME.t,unit = "s")
Time_clean

0    2020-09-14
1    2020-09-15
2    2020-09-16
3    2020-09-17
4    2020-09-18
        ...
92   2021-01-26
93   2021-01-27
94   2021-01-28
95   2021-01-29
96   2021-02-01
Name: t, Length: 97, dtype: datetime64[ns]

In [44]:
GME_update = pd.merge(GME, Time_clean, left_index = True, right_index = True)
GME_update

         c       h        l       o   s         t_x          v        t_y
0     6.91    7.00    6.430    6.80  ok  1600041600   10118972 2020-09-14
1     7.09    7.26    6.685    6.86  ok  1600128000    5743489 2020-09-15
2     8.68    9.04    7.030    7.03  ok  1600214400   19346508 2020-09-16
3     9.20    9.77    8.410    8.57  ok  1600300800   17026720 2020-09-17
4     9.47    9.77    8.910    9.20  ok  1600387200   17407513 2020-09-18
..     ...     ...      ...     ...  ..         ...        ...        ...
92  147.98  150.00   80.200   88.56  ok  1611619200  178587974 2021-01-26
93  347.51  380.00  249.000  354.83  ok  1611705600   93396666 2021-01-27
94  193.60  483.00  112.250  265.00  ok  1611792000   58815805 2021-01-28
95  325.00  413.98  250.000  379.71  ok  1611878400   50566055 2021-01-29
96  225.00  322.00  212.000  316.56  ok  1612137600   37382152 2021-02-01

[97 rows x 8 columns]

In [45]:
GME_update = GME_update[["c","h","l","o","v","t_y"]]
GME_update

         c       h        l       o          v        t_y
0     6.91    7.00    6.430    6.80   10118972 2020-09-14
1     7.09    7.26    6.685    6.86    5743489 2020-09-15
2     8.68    9.04    7.030    7.03   19346508 2020-09-16
3     9.20    9.77    8.410    8.57   17026720 2020-09-17
4     9.47    9.77    8.910    9.20   17407513 2020-09-18
..     ...     ...      ...     ...        ...        ...
92  147.98  150.00   80.200   88.56  178587974 2021-01-26
93  347.51  380.00  249.000  354.83   93396666 2021-01-27
94  193.60  483.00  112.250  265.00   58815805 2021-01-28
95  325.00  413.98  250.000  379.71   50566055 2021-01-29
96  225.00  322.00  212.000  316.56   37382152 2021-02-01

[97 rows x 6 columns]

In [50]:
res3 = finnhub_client.stock_candles('VTSAX', 'D', 1599886800, 1612159200)
print(res3)

{'c': [83.6, 84.08, 83.8, 83.09, 82.31, 81.31, 82.11, 80.11, 79.96, 81.3, 82.68, 82.31, 82.94, 83.57, 82.89, 84.45, 83.4, 84.88, 85.59, 86.32, 87.59, 87.14, 86.58, 86.53, 86.49, 85.16, 85.48, 85.21, 85.76, 86.1, 84.48, 84.19, 81.33, 82.26, 81.16, 82.18, 83.76, 85.51, 87.29, 87.23, 87.23, 88.16, 88.84, 87.97, 89.18, 90.28, 90.07, 89.16, 89.66, 89.18, 89.89, 91.29, 91.24, 91.58, 91.06, 91.99, 92.09, 92.23, 93.19, 93.1, 93.48, 92.62, 92.76, 92.59, 92.33, 93.57, 93.69, 94.42, 94.21, 93.93, 93.95, 93.66, 93.91, 94.4, 94.03, 94.28, 94.74, 93.35, 94.14, 94.93, 96.49, 96.95, 96.43, 96.73, 96.82, 96.71, 95.95, 96.78, 98.02, 97.93, 97.79, 98.04, 97.74, 95.21, 96.18, 94.43], 'h': [83.6, 84.08, 83.8, 83.09, 82.31, 81.31, 82.11, 80.11, 79.96, 81.3, 82.68, 82.31, 82.94, 83.57, 82.89, 84.45, 83.4, 84.88, 85.59, 86.32, 87.59, 87.14, 86.58, 86.53, 86.49, 85.16, 85.48, 85.21, 85.76, 86.1, 84.48, 84.19, 81.33, 82.26, 81.16, 82.18, 83.76, 85.51, 87.29, 87.23, 87.23, 88.16, 88.84, 87.97, 89.18, 90.28, 90.07, 89.16, 89.66, 89.18, 89.89, 91.29, 91.24, 91.58, 91.06, 91.99, 92.09, 92.23, 93.19, 93.1, 93.48, 92.62, 92.76, 92.59, 92.33, 93.57, 93.69, 94.42, 94.21, 93.93, 93.95, 93.66, 93.91, 94.4, 94.03, 94.28, 94.74, 93.35, 94.14, 94.93, 96.49, 96.95, 96.43, 96.73, 96.82, 96.71, 95.95, 96.78, 98.02, 97.93, 97.79, 98.04, 97.74, 95.21, 96.18, 94.43], 'l': [83.6, 84.08, 83.8, 83.09, 82.31, 81.31, 82.11, 80.11, 79.96, 81.3, 82.68, 82.31, 82.94, 83.57, 82.89, 84.45, 83.4, 84.88, 85.59, 86.32, 87.59, 87.14, 86.58, 86.53, 86.49, 85.16, 85.48, 85.21, 85.76, 86.1, 84.48, 84.19, 81.33, 82.26, 81.16, 82.18, 83.76, 85.51, 87.29, 87.23, 87.23, 88.16, 88.84, 87.97, 89.18, 90.28, 90.07, 89.16, 89.66, 89.18, 89.89, 91.29, 91.24, 91.58, 91.06, 91.99, 92.09, 92.23, 93.19, 93.1, 93.48, 92.62, 92.76, 92.59, 92.33, 93.57, 93.69, 94.42, 94.21, 93.93, 93.95, 93.66, 93.91, 94.4, 94.03, 94.28, 94.74, 93.35, 94.14, 94.93, 96.49, 96.95, 96.43, 96.73, 96.82, 96.71, 95.95, 96.78, 98.02, 97.93, 97.79, 98.04, 97.74, 95.21, 96.18, 94.43], 'o': [83.6, 84.08, 83.8, 83.09, 82.31, 81.31, 82.11, 80.11, 79.96, 81.3, 82.68, 82.31, 82.94, 83.57, 82.89, 84.45, 83.4, 84.88, 85.59, 86.32, 87.59, 87.14, 86.58, 86.53, 86.49, 85.16, 85.48, 85.21, 85.76, 86.1, 84.48, 84.19, 81.33, 82.26, 81.16, 82.18, 83.76, 85.51, 87.29, 87.23, 87.23, 88.16, 88.84, 87.97, 89.18, 90.28, 90.07, 89.16, 89.66, 89.18, 89.89, 91.29, 91.24, 91.58, 91.06, 91.99, 92.09, 92.23, 93.19, 93.1, 93.48, 92.62, 92.76, 92.59, 92.33, 93.57, 93.69, 94.42, 94.21, 93.93, 93.95, 93.66, 93.91, 94.4, 94.03, 94.28, 94.74, 93.35, 94.14, 94.93, 96.49, 96.95, 96.43, 96.73, 96.82, 96.71, 95.95, 96.78, 98.02, 97.93, 97.79, 98.04, 97.74, 95.21, 96.18, 94.43], 's': 'ok', 't': [1600090200, 1600176600, 1600263000, 1600349400, 1600435800, 1600695000, 1600781400, 1600867800, 1600954200, 1601040600, 1601299800, 1601386200, 1601472600, 1601559000, 1601645400, 1601904600, 1601991000, 1602077400, 1602163800, 1602250200, 1602509400, 1602595800, 1602682200, 1602768600, 1602855000, 1603114200, 1603200600, 1603287000, 1603373400, 1603459800, 1603719000, 1603805400, 1603891800, 1603978200, 1604064600, 1604327400, 1604413800, 1604500200, 1604586600, 1604673000, 1604932200, 1605018600, 1605105000, 1605191400, 1605277800, 1605537000, 1605623400, 1605709800, 1605796200, 1605882600, 1606141800, 1606228200, 1606314600, 1606487400, 1606746600, 1606833000, 1606919400, 1607005800, 1607092200, 1607351400, 1607437800, 1607524200, 1607610600, 1607697000, 1607956200, 1608042600, 1608129000, 1608215400, 1608301800, 1608561000, 1608647400, 1608733800, 1608820200, 1609165800, 1609252200, 1609338600, 1609425000, 1609770600, 1609857000, 1609943400, 1610029800, 1610116200, 1610375400, 1610461800, 1610548200, 1610634600, 1610721000, 1611066600, 1611153000, 1611239400, 1611325800, 1611585000, 1611671400, 1611757800, 1611844200, 1611930600], 'v': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [61]:
S_P = pd.DataFrame(res3)
S_P

        c      h      l      o   s           t  v
0   83.60  83.60  83.60  83.60  ok  1600090200  0
1   84.08  84.08  84.08  84.08  ok  1600176600  0
2   83.80  83.80  83.80  83.80  ok  1600263000  0
3   83.09  83.09  83.09  83.09  ok  1600349400  0
4   82.31  82.31  82.31  82.31  ok  1600435800  0
..    ...    ...    ...    ...  ..         ... ..
91  98.04  98.04  98.04  98.04  ok  1611585000  0
92  97.74  97.74  97.74  97.74  ok  1611671400  0
93  95.21  95.21  95.21  95.21  ok  1611757800  0
94  96.18  96.18  96.18  96.18  ok  1611844200  0
95  94.43  94.43  94.43  94.43  ok  1611930600  0

[96 rows x 7 columns]

In [84]:
Time_clean2 = pd.to_datetime(S_P.t, unit = "s")                        
Clean = pd.to_datetime(Time_clean2).dt.date                   
Clean

0     2020-09-14
1     2020-09-15
2     2020-09-16
3     2020-09-17
4     2020-09-18
         ...
91    2021-01-25
92    2021-01-26
93    2021-01-27
94    2021-01-28
95    2021-01-29
Name: t, Length: 96, dtype: object

In [85]:
S_P_update = pd.merge(S_P, Clean, left_index = True, right_index = True)
S_P_update

        c      h      l      o   s         t_x  v         t_y
0   83.60  83.60  83.60  83.60  ok  1600090200  0  2020-09-14
1   84.08  84.08  84.08  84.08  ok  1600176600  0  2020-09-15
2   83.80  83.80  83.80  83.80  ok  1600263000  0  2020-09-16
3   83.09  83.09  83.09  83.09  ok  1600349400  0  2020-09-17
4   82.31  82.31  82.31  82.31  ok  1600435800  0  2020-09-18
..    ...    ...    ...    ...  ..         ... ..         ...
91  98.04  98.04  98.04  98.04  ok  1611585000  0  2021-01-25
92  97.74  97.74  97.74  97.74  ok  1611671400  0  2021-01-26
93  95.21  95.21  95.21  95.21  ok  1611757800  0  2021-01-27
94  96.18  96.18  96.18  96.18  ok  1611844200  0  2021-01-28
95  94.43  94.43  94.43  94.43  ok  1611930600  0  2021-01-29

[96 rows x 8 columns]

In [86]:
S_P_update = S_P_update[["c","h","l","o","v","t_y"]]
S_P_update

        c      h      l      o  v         t_y
0   83.60  83.60  83.60  83.60  0  2020-09-14
1   84.08  84.08  84.08  84.08  0  2020-09-15
2   83.80  83.80  83.80  83.80  0  2020-09-16
3   83.09  83.09  83.09  83.09  0  2020-09-17
4   82.31  82.31  82.31  82.31  0  2020-09-18
..    ...    ...    ...    ... ..         ...
91  98.04  98.04  98.04  98.04  0  2021-01-25
92  97.74  97.74  97.74  97.74  0  2021-01-26
93  95.21  95.21  95.21  95.21  0  2021-01-27
94  96.18  96.18  96.18  96.18  0  2021-01-28
95  94.43  94.43  94.43  94.43  0  2021-01-29

[96 rows x 6 columns]