In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd
import finnhub

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [C:\Users\cmcod\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [3]:
url = 'https://www.wsj.com/news/archive/years'

In [4]:
# Setup client
from config import api_finn
finnhub_client = finnhub.Client(api_key=api_finn)

In [5]:
# Stock candles
res = finnhub_client.stock_candles('AAPL', 'D', 1590988249, 1591852249)
print(res)

{'c': [321.85, 323.34, 325.12, 322.32, 331.5, 333.46, 343.99, 352.84, 335.9], 'h': [322.35, 323.44, 326.2, 325.62, 331.75, 333.6, 345.61, 354.77, 351.06], 'l': [317.21, 318.93, 322.3, 320.78, 323.23, 327.32, 332.01, 346.09, 335.48], 'o': [317.75, 320.745, 324.66, 324.39, 323.35, 330.25, 332.14, 347.9, 349.31], 's': 'ok', 't': [1590969600, 1591056000, 1591142400, 1591228800, 1591315200, 1591574400, 1591660800, 1591747200, 1591833600], 'v': [20254653, 21910704, 26122804, 21890091, 34312550, 23913634, 36928091, 41662938, 50415613]}

In [6]:
#Convert to Pandas Dataframe
pd.DataFrame(res)

        c       h       l        o   s           t         v
0  321.85  322.35  317.21  317.750  ok  1590969600  20254653
1  323.34  323.44  318.93  320.745  ok  1591056000  21910704
2  325.12  326.20  322.30  324.660  ok  1591142400  26122804
3  322.32  325.62  320.78  324.390  ok  1591228800  21890091
4  331.50  331.75  323.23  323.350  ok  1591315200  34312550
5  333.46  333.60  327.32  330.250  ok  1591574400  23913634
6  343.99  345.61  332.01  332.140  ok  1591660800  36928091
7  352.84  354.77  346.09  347.900  ok  1591747200  41662938
8  335.90  351.06  335.48  349.310  ok  1591833600  50415613

In [7]:
res2 = finnhub_client.stock_candles('GME', 'D', 1599886800, 1612159200)
print(res2)

{'c': [6.91, 7.09, 8.68, 9.2, 9.47, 8.75, 10.56, 10.04, 9.14, 10.02, 10.09, 10.35, 10.2, 9.77, 9.39, 9.46, 9.13, 9.36, 13.49, 12.02, 11.8, 11.88, 12.25, 13.83, 13.31, 13.91, 13.86, 14.1, 14.91, 15, 13.45, 12.69, 11.82, 11.73, 10.47, 10.75, 11.57, 10.91, 11.45, 11.86, 11.49, 11.1, 11.75, 11.13, 11.01, 12.06, 11.63, 11.57, 12.46, 12.71, 13.9, 13.67, 14.75, 16.08, 16.56, 15.8, 16.58, 16.12, 16.9, 16.35, 16.94, 13.66, 14.12, 13.31, 12.72, 13.85, 13.85, 14.83, 15.63, 15.53, 19.46, 20.57, 20.15, 20.99, 19.38, 19.26, 18.84, 17.25, 17.37, 18.36, 18.08, 17.69, 19.94, 19.95, 31.4, 39.91, 35.5, 39.36, 39.12, 43.03, 65.01, 76.79, 147.98, 347.51, 193.6, 325, 225], 'h': [7, 7.26, 9.04, 9.77, 9.77, 9.6, 11.1699, 10.86, 9.81, 10.1826, 10.26, 10.65, 10.7597, 10.25, 9.78, 9.59, 9.835, 9.56, 13.64, 14.8, 12.7662, 12.42, 12.68, 15.1, 13.9, 14.5, 14.143, 14.42, 15.87, 15.38, 15.45, 13.71, 13.05, 12.25, 11.64, 11.09, 11.86, 11.7699, 11.84, 12.17, 12.93, 11.66, 11.95, 11.87, 11.55, 12.6602, 11.92, 12.04, 12.79, 13.46, 14.12, 14.26, 15.25, 16.74, 19.42, 17.4, 16.68, 16.64, 17.29, 17.5, 17.21, 14.73, 14.41, 14, 13.4335, 14.02, 14.305, 14.98, 16.3, 16.348, 20.04, 22.3499, 21.48, 21.97, 21.07, 20, 19.8, 19.1, 18.0765, 18.98, 19.45, 18.3, 20.65, 20.4, 38.65, 43.06, 40.75, 45.52, 41.1899, 44.75, 76.7573, 159.18, 150, 380, 483, 413.98, 322], 'l': [6.43, 6.685, 7.03, 8.41, 8.91, 8.38, 9.9, 9.92, 9.01, 9.1, 9.55, 9.93, 10.06, 9.69, 9.3, 9.2502, 9.1, 9.1678, 9.19, 11.9, 11.4, 11.65, 12.05, 11.99, 13.08, 13.38, 13.665, 13.8, 14.19, 14.55, 13.26, 12.36, 11.78, 11.6801, 10.36, 10.5, 10.63, 10.61, 11.06, 11.32, 11.25, 10.83, 11.21, 10.97, 11, 10.72, 11.23, 11.56, 11.45, 12.54, 12.67, 13.3, 13.42, 14.88, 16.5575, 15.76, 15.38, 15.87, 16.26, 16.22, 15.93, 13.225, 13.05, 13.02, 12.14, 12.48, 13.58, 13.59, 15.18, 15.28, 16.15, 19.13, 19.95, 20.35, 18.56, 18.85, 18.8, 17.15, 17.23, 17.33, 18.02, 17.08, 19.01, 19.3168, 20.03, 33.05, 34.01, 36.64, 36.06, 37, 42.32, 61.13, 80.2, 249, 112.25, 250, 212], 'o': [6.8, 6.86, 7.03, 8.57, 9.2, 9.35, 10.45, 10.6, 9.71, 9.19, 10.16, 10, 10.25, 10.09, 9.38, 9.44, 9.56, 9.23, 9.54, 12.83, 11.66, 11.73, 12.67, 11.99, 13.77, 13.44, 14.03, 13.9, 14.2, 15.05, 14.93, 13.71, 12.27, 11.88, 11.64, 10.82, 10.75, 11.76, 11.27, 11.52, 12.76, 11.5, 11.5, 11.74, 11.36, 11.16, 11.65, 11.8, 11.6, 12.55, 12.9, 14.23, 13.6, 15.29, 18.17, 17.11, 15.7, 16.48, 16.3, 17, 16.37, 13.92, 13.12, 13.91, 13.34, 12.78, 13.96, 13.96, 15.78, 15.81, 16.22, 20.17, 21.01, 21.31, 20.82, 19.38, 19.25, 19, 17.35, 17.34, 18.47, 18.18, 19.41, 19.96, 20.42, 38.09, 38.49, 41.55, 37.37, 39.23, 42.59, 96.73, 88.56, 354.83, 265, 379.71, 316.56], 's': 'ok', 't': [1600041600, 1600128000, 1600214400, 1600300800, 1600387200, 1600646400, 1600732800, 1600819200, 1600905600, 1600992000, 1601251200, 1601337600, 1601424000, 1601510400, 1601596800, 1601856000, 1601942400, 1602028800, 1602115200, 1602201600, 1602460800, 1602547200, 1602633600, 1602720000, 1602806400, 1603065600, 1603152000, 1603238400, 1603324800, 1603411200, 1603670400, 1603756800, 1603843200, 1603929600, 1604016000, 1604275200, 1604361600, 1604448000, 1604534400, 1604620800, 1604880000, 1604966400, 1605052800, 1605139200, 1605225600, 1605484800, 1605571200, 1605657600, 1605744000, 1605830400, 1606089600, 1606176000, 1606262400, 1606435200, 1606694400, 1606780800, 1606867200, 1606953600, 1607040000, 1607299200, 1607385600, 1607472000, 1607558400, 1607644800, 1607904000, 1607990400, 1608076800, 1608163200, 1608249600, 1608508800, 1608595200, 1608681600, 1608768000, 1609113600, 1609200000, 1609286400, 1609372800, 1609718400, 1609804800, 1609891200, 1609977600, 1610064000, 1610323200, 1610409600, 1610496000, 1610582400, 1610668800, 1611014400, 1611100800, 1611187200, 1611273600, 1611532800, 1611619200, 1611705600, 1611792000, 1611878400, 1612137600], 'v': [10118972, 5743489, 19346508, 17026720, 17407513, 7639806, 34752484, 10651152, 7938838, 7515157, 6764323, 5244339, 6079033, 4554055, 4340484, 2804969, 4535421, 3308644, 76453557, 77152780, 23655701, 10179708, 10776762, 39894822, 11651578, 13169073, 6603951, 5361928, 16212232, 6507324, 13376269, 7231006, 6388580, 4165843, 11562367, 5227011, 7454472, 5807871, 4705245, 5518243, 6244865, 3825963, 4882569, 4355892, 3546171, 9774824, 6678176, 3169222, 11787613, 8402347, 9607973, 7186710, 8860092, 12504197, 31983498, 12666027, 7883380, 6294965, 8972672, 7386258, 16120163, 24357944, 7558922, 7496868, 10007092, 8192856, 5865123, 8194902, 16618776, 9876128, 30687718, 25830256, 6262174, 8965858, 9241441, 5934391, 6922652, 10022474, 4961457, 6056248, 6129276, 6481960, 14927612, 7060665, 144501736, 93717410, 46866358, 74721924, 33471789, 57079754, 197157946, 177874000, 178587974, 93396666, 58815805, 50566055, 37382152]}

In [8]:
#Convert to Pandas Dataframe
GME = pd.DataFrame(res2)
GME

         c       h        l       o   s           t          v
0     6.91    7.00    6.430    6.80  ok  1600041600   10118972
1     7.09    7.26    6.685    6.86  ok  1600128000    5743489
2     8.68    9.04    7.030    7.03  ok  1600214400   19346508
3     9.20    9.77    8.410    8.57  ok  1600300800   17026720
4     9.47    9.77    8.910    9.20  ok  1600387200   17407513
..     ...     ...      ...     ...  ..         ...        ...
92  147.98  150.00   80.200   88.56  ok  1611619200  178587974
93  347.51  380.00  249.000  354.83  ok  1611705600   93396666
94  193.60  483.00  112.250  265.00  ok  1611792000   58815805
95  325.00  413.98  250.000  379.71  ok  1611878400   50566055
96  225.00  322.00  212.000  316.56  ok  1612137600   37382152

[97 rows x 7 columns]

In [9]:
Time_clean=pd.to_datetime(GME.t,unit = "s")
Time_clean

0    2020-09-14
1    2020-09-15
2    2020-09-16
3    2020-09-17
4    2020-09-18
        ...
92   2021-01-26
93   2021-01-27
94   2021-01-28
95   2021-01-29
96   2021-02-01
Name: t, Length: 97, dtype: datetime64[ns]

In [10]:
GME_update = pd.merge(GME, Time_clean, left_index = True, right_index = True)
GME_update

         c       h        l       o   s         t_x          v        t_y
0     6.91    7.00    6.430    6.80  ok  1600041600   10118972 2020-09-14
1     7.09    7.26    6.685    6.86  ok  1600128000    5743489 2020-09-15
2     8.68    9.04    7.030    7.03  ok  1600214400   19346508 2020-09-16
3     9.20    9.77    8.410    8.57  ok  1600300800   17026720 2020-09-17
4     9.47    9.77    8.910    9.20  ok  1600387200   17407513 2020-09-18
..     ...     ...      ...     ...  ..         ...        ...        ...
92  147.98  150.00   80.200   88.56  ok  1611619200  178587974 2021-01-26
93  347.51  380.00  249.000  354.83  ok  1611705600   93396666 2021-01-27
94  193.60  483.00  112.250  265.00  ok  1611792000   58815805 2021-01-28
95  325.00  413.98  250.000  379.71  ok  1611878400   50566055 2021-01-29
96  225.00  322.00  212.000  316.56  ok  1612137600   37382152 2021-02-01

[97 rows x 8 columns]

In [11]:
GME_update = GME_update[["c","h","l","o","v","t_y"]]
GME_update

         c       h        l       o          v        t_y
0     6.91    7.00    6.430    6.80   10118972 2020-09-14
1     7.09    7.26    6.685    6.86    5743489 2020-09-15
2     8.68    9.04    7.030    7.03   19346508 2020-09-16
3     9.20    9.77    8.410    8.57   17026720 2020-09-17
4     9.47    9.77    8.910    9.20   17407513 2020-09-18
..     ...     ...      ...     ...        ...        ...
92  147.98  150.00   80.200   88.56  178587974 2021-01-26
93  347.51  380.00  249.000  354.83   93396666 2021-01-27
94  193.60  483.00  112.250  265.00   58815805 2021-01-28
95  325.00  413.98  250.000  379.71   50566055 2021-01-29
96  225.00  322.00  212.000  316.56   37382152 2021-02-01

[97 rows x 6 columns]

In [12]:
res3 = finnhub_client.stock_candles('VTSAX', 'D', 1599886800, 1612159200)
print(res3)

{'c': [83.6, 84.08, 83.8, 83.09, 82.31, 81.31, 82.11, 80.11, 79.96, 81.3, 82.68, 82.31, 82.94, 83.57, 82.89, 84.45, 83.4, 84.88, 85.59, 86.32, 87.59, 87.14, 86.58, 86.53, 86.49, 85.16, 85.48, 85.21, 85.76, 86.1, 84.48, 84.19, 81.33, 82.26, 81.16, 82.18, 83.76, 85.51, 87.29, 87.23, 87.23, 88.16, 88.84, 87.97, 89.18, 90.28, 90.07, 89.16, 89.66, 89.18, 89.89, 91.29, 91.24, 91.58, 91.06, 91.99, 92.09, 92.23, 93.19, 93.1, 93.48, 92.62, 92.76, 92.59, 92.33, 93.57, 93.69, 94.42, 94.21, 93.93, 93.95, 93.66, 93.91, 94.4, 94.03, 94.28, 94.74, 93.35, 94.14, 94.93, 96.49, 96.95, 96.43, 96.73, 96.82, 96.71, 95.95, 96.78, 98.02, 97.93, 97.79, 98.04, 97.74, 95.21, 96.18, 94.43], 'h': [83.6, 84.08, 83.8, 83.09, 82.31, 81.31, 82.11, 80.11, 79.96, 81.3, 82.68, 82.31, 82.94, 83.57, 82.89, 84.45, 83.4, 84.88, 85.59, 86.32, 87.59, 87.14, 86.58, 86.53, 86.49, 85.16, 85.48, 85.21, 85.76, 86.1, 84.48, 84.19, 81.33, 82.26, 81.16, 82.18, 83.76, 85.51, 87.29, 87.23, 87.23, 88.16, 88.84, 87.97, 89.18, 90.28, 90.07, 89.16, 89.66, 89.18, 89.89, 91.29, 91.24, 91.58, 91.06, 91.99, 92.09, 92.23, 93.19, 93.1, 93.48, 92.62, 92.76, 92.59, 92.33, 93.57, 93.69, 94.42, 94.21, 93.93, 93.95, 93.66, 93.91, 94.4, 94.03, 94.28, 94.74, 93.35, 94.14, 94.93, 96.49, 96.95, 96.43, 96.73, 96.82, 96.71, 95.95, 96.78, 98.02, 97.93, 97.79, 98.04, 97.74, 95.21, 96.18, 94.43], 'l': [83.6, 84.08, 83.8, 83.09, 82.31, 81.31, 82.11, 80.11, 79.96, 81.3, 82.68, 82.31, 82.94, 83.57, 82.89, 84.45, 83.4, 84.88, 85.59, 86.32, 87.59, 87.14, 86.58, 86.53, 86.49, 85.16, 85.48, 85.21, 85.76, 86.1, 84.48, 84.19, 81.33, 82.26, 81.16, 82.18, 83.76, 85.51, 87.29, 87.23, 87.23, 88.16, 88.84, 87.97, 89.18, 90.28, 90.07, 89.16, 89.66, 89.18, 89.89, 91.29, 91.24, 91.58, 91.06, 91.99, 92.09, 92.23, 93.19, 93.1, 93.48, 92.62, 92.76, 92.59, 92.33, 93.57, 93.69, 94.42, 94.21, 93.93, 93.95, 93.66, 93.91, 94.4, 94.03, 94.28, 94.74, 93.35, 94.14, 94.93, 96.49, 96.95, 96.43, 96.73, 96.82, 96.71, 95.95, 96.78, 98.02, 97.93, 97.79, 98.04, 97.74, 95.21, 96.18, 94.43], 'o': [83.6, 84.08, 83.8, 83.09, 82.31, 81.31, 82.11, 80.11, 79.96, 81.3, 82.68, 82.31, 82.94, 83.57, 82.89, 84.45, 83.4, 84.88, 85.59, 86.32, 87.59, 87.14, 86.58, 86.53, 86.49, 85.16, 85.48, 85.21, 85.76, 86.1, 84.48, 84.19, 81.33, 82.26, 81.16, 82.18, 83.76, 85.51, 87.29, 87.23, 87.23, 88.16, 88.84, 87.97, 89.18, 90.28, 90.07, 89.16, 89.66, 89.18, 89.89, 91.29, 91.24, 91.58, 91.06, 91.99, 92.09, 92.23, 93.19, 93.1, 93.48, 92.62, 92.76, 92.59, 92.33, 93.57, 93.69, 94.42, 94.21, 93.93, 93.95, 93.66, 93.91, 94.4, 94.03, 94.28, 94.74, 93.35, 94.14, 94.93, 96.49, 96.95, 96.43, 96.73, 96.82, 96.71, 95.95, 96.78, 98.02, 97.93, 97.79, 98.04, 97.74, 95.21, 96.18, 94.43], 's': 'ok', 't': [1600090200, 1600176600, 1600263000, 1600349400, 1600435800, 1600695000, 1600781400, 1600867800, 1600954200, 1601040600, 1601299800, 1601386200, 1601472600, 1601559000, 1601645400, 1601904600, 1601991000, 1602077400, 1602163800, 1602250200, 1602509400, 1602595800, 1602682200, 1602768600, 1602855000, 1603114200, 1603200600, 1603287000, 1603373400, 1603459800, 1603719000, 1603805400, 1603891800, 1603978200, 1604064600, 1604327400, 1604413800, 1604500200, 1604586600, 1604673000, 1604932200, 1605018600, 1605105000, 1605191400, 1605277800, 1605537000, 1605623400, 1605709800, 1605796200, 1605882600, 1606141800, 1606228200, 1606314600, 1606487400, 1606746600, 1606833000, 1606919400, 1607005800, 1607092200, 1607351400, 1607437800, 1607524200, 1607610600, 1607697000, 1607956200, 1608042600, 1608129000, 1608215400, 1608301800, 1608561000, 1608647400, 1608733800, 1608820200, 1609165800, 1609252200, 1609338600, 1609425000, 1609770600, 1609857000, 1609943400, 1610029800, 1610116200, 1610375400, 1610461800, 1610548200, 1610634600, 1610721000, 1611066600, 1611153000, 1611239400, 1611325800, 1611585000, 1611671400, 1611757800, 1611844200, 1611930600], 'v': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [13]:
S_P = pd.DataFrame(res3)
S_P

        c      h      l      o   s           t  v
0   83.60  83.60  83.60  83.60  ok  1600090200  0
1   84.08  84.08  84.08  84.08  ok  1600176600  0
2   83.80  83.80  83.80  83.80  ok  1600263000  0
3   83.09  83.09  83.09  83.09  ok  1600349400  0
4   82.31  82.31  82.31  82.31  ok  1600435800  0
..    ...    ...    ...    ...  ..         ... ..
91  98.04  98.04  98.04  98.04  ok  1611585000  0
92  97.74  97.74  97.74  97.74  ok  1611671400  0
93  95.21  95.21  95.21  95.21  ok  1611757800  0
94  96.18  96.18  96.18  96.18  ok  1611844200  0
95  94.43  94.43  94.43  94.43  ok  1611930600  0

[96 rows x 7 columns]

In [14]:
Time_clean2 = pd.to_datetime(S_P.t, unit = "s")                        
Clean = pd.to_datetime(Time_clean2).dt.date                   
Clean

0     2020-09-14
1     2020-09-15
2     2020-09-16
3     2020-09-17
4     2020-09-18
         ...
91    2021-01-25
92    2021-01-26
93    2021-01-27
94    2021-01-28
95    2021-01-29
Name: t, Length: 96, dtype: object

In [15]:
S_P_update = pd.merge(S_P, Clean, left_index = True, right_index = True)
S_P_update

        c      h      l      o   s         t_x  v         t_y
0   83.60  83.60  83.60  83.60  ok  1600090200  0  2020-09-14
1   84.08  84.08  84.08  84.08  ok  1600176600  0  2020-09-15
2   83.80  83.80  83.80  83.80  ok  1600263000  0  2020-09-16
3   83.09  83.09  83.09  83.09  ok  1600349400  0  2020-09-17
4   82.31  82.31  82.31  82.31  ok  1600435800  0  2020-09-18
..    ...    ...    ...    ...  ..         ... ..         ...
91  98.04  98.04  98.04  98.04  ok  1611585000  0  2021-01-25
92  97.74  97.74  97.74  97.74  ok  1611671400  0  2021-01-26
93  95.21  95.21  95.21  95.21  ok  1611757800  0  2021-01-27
94  96.18  96.18  96.18  96.18  ok  1611844200  0  2021-01-28
95  94.43  94.43  94.43  94.43  ok  1611930600  0  2021-01-29

[96 rows x 8 columns]

In [16]:
S_P_update = S_P_update[["c","h","l","o","v","t_y"]]
S_P_update

        c      h      l      o  v         t_y
0   83.60  83.60  83.60  83.60  0  2020-09-14
1   84.08  84.08  84.08  84.08  0  2020-09-15
2   83.80  83.80  83.80  83.80  0  2020-09-16
3   83.09  83.09  83.09  83.09  0  2020-09-17
4   82.31  82.31  82.31  82.31  0  2020-09-18
..    ...    ...    ...    ... ..         ...
91  98.04  98.04  98.04  98.04  0  2021-01-25
92  97.74  97.74  97.74  97.74  0  2021-01-26
93  95.21  95.21  95.21  95.21  0  2021-01-27
94  96.18  96.18  96.18  96.18  0  2021-01-28
95  94.43  94.43  94.43  94.43  0  2021-01-29

[96 rows x 6 columns]

In [17]:
res4 = finnhub_client.stock_candles('AMZN', 'D', 1599886800, 1612159200)
print(res4)

{'c': [3102.97, 3156.13, 3078.1, 3008.73, 2954.91, 2960.47, 3128.99, 2999.86, 3019.79, 3095.13, 3174.05, 3144.88, 3148.73, 3221.26, 3125, 3199.2, 3099.96, 3195.69, 3190.55, 3286.65, 3442.93, 3443.63, 3363.71, 3338.65, 3272.71, 3207.21, 3217.01, 3184.94, 3176.4, 3204.4, 3207.04, 3286.33, 3162.78, 3211.01, 3036.15, 3004.48, 3048.41, 3241.16, 3322, 3311.37, 3143.74, 3035.02, 3137.39, 3110.28, 3128.81, 3131.06, 3135.66, 3105.46, 3117.02, 3099.4, 3098.39, 3118.06, 3185.07, 3195.34, 3168.04, 3220.08, 3203.53, 3186.73, 3162.58, 3158, 3177.29, 3104.2, 3101.49, 3116.42, 3156.97, 3165.12, 3240.96, 3236.08, 3201.65, 3206.18, 3206.52, 3185.27, 3172.69, 3283.96, 3322, 3285.85, 3256.93, 3186.63, 3218.51, 3138.38, 3162.16, 3182.7, 3114.21, 3120.83, 3165.89, 3127.47, 3104.25, 3120.76, 3263.38, 3306.99, 3292.23, 3294, 3326.13, 3232.58, 3237.62, 3206.2, 3342.88], 'h': [3187.39, 3175.02, 3187.238, 3029.432, 3037.8, 2962, 3133.99, 3126.999, 3069.3, 3101.54, 3175.04, 3188.26, 3212.88, 3224, 3195.7965, 3202.53, 3182, 3200, 3233.2944, 3288.99, 3496.24, 3492.38, 3464.88, 3355.88, 3399.6606, 3329, 3266, 3233.875, 3198.75, 3205.33, 3282.9799, 3291.66, 3264.02, 3257.25, 3167.004, 3079.705, 3074.9, 3244.85, 3366.8, 3322, 3289, 3114, 3139.145, 3175.88, 3141.7227, 3142.7, 3189.25, 3140, 3125, 3132.89, 3139.745, 3134.25, 3198, 3216.19, 3228.39, 3248.95, 3232, 3228.64, 3198.21, 3180.76, 3184.13, 3174.43, 3142.1, 3118.67, 3190.47, 3188.4999, 3247, 3263.51, 3249.42, 3226.9666, 3222, 3210.13, 3202, 3304, 3350.65, 3342.1, 3282.9219, 3272, 3223.38, 3197.509, 3208.542, 3190.64, 3156.3841, 3142.1418, 3189.95, 3177.9999, 3142.545, 3145, 3279.8, 3348.55, 3321.91, 3363.89, 3338, 3346.52, 3301.68, 3236.99, 3350.26], 'l': [3096, 3108.92, 3074.15, 2972.55, 2905.54, 2871, 3000.2, 2992.3759, 2965, 2999, 3117.1684, 3132.54, 3133.99, 3172, 3123, 3140.85, 3090, 3132.385, 3174.99, 3197.83, 3339.55, 3424.217, 3340, 3280, 3160, 3192.735, 3192.01, 3160, 3121.94, 3140, 3153.3, 3211.3, 3162.47, 3164, 3019, 2950.12, 2980.98, 3139.73, 3288.88, 3232, 3112.1057, 3019.4828, 3050, 3086.05, 3085.39, 3072.685, 3135.26, 3105.1, 3080.92, 3098.0456, 3065.46, 3086.258, 3140.26, 3190.05, 3125.55, 3157.18, 3173.2601, 3181.31, 3158.76, 3141.69, 3120.02, 3088, 3076, 3072.82, 3126, 3130.49, 3163.68, 3221, 3171.6, 3166, 3180.08, 3184.17, 3169, 3172.69, 3281.223, 3282.47, 3241.2, 3144.02, 3165.06, 3131.16, 3155, 3142.2, 3110, 3086, 3122.08, 3120.59, 3095.17, 3096, 3175, 3289.5675, 3283.1644, 3243.1463, 3282.87, 3207.08, 3228.69, 3184.55, 3235.025], 'o': [3172.9372, 3136.16, 3179.99, 3009.25, 3031.74, 2906.5, 3033.835, 3120.43, 2977.79, 3054.86, 3148.85, 3175.39, 3141.14, 3208, 3153.63, 3145.84, 3165, 3135, 3224.99, 3210, 3349.94, 3467.99, 3447, 3292.01, 3363.23, 3299.61, 3222.28, 3212.5, 3189.87, 3191, 3198.74, 3224.94, 3249.3, 3201.27, 3157.75, 3061.74, 3018.53, 3159.99, 3319.97, 3304.64, 3231.03, 3095.02, 3061.78, 3159.95, 3122, 3093.2, 3183.5445, 3134, 3105.31, 3117.02, 3116.6986, 3100.5, 3141.87, 3211.26, 3208.48, 3188.5, 3221.65, 3205.46, 3198.21, 3156.48, 3158.9, 3167.89, 3088.99, 3096.66, 3143, 3181.01, 3176.01, 3250, 3243.99, 3200.01, 3202.8434, 3205, 3193.9, 3194, 3309.94, 3341, 3275, 3270, 3166.01, 3146.48, 3157, 3180, 3148.01, 3120, 3128.44, 3167.52, 3123.02, 3107, 3181.99, 3293, 3304.31, 3328.5, 3296.3559, 3341.49, 3235.04, 3230, 3242.36], 's': 'ok', 't': [1600041600, 1600128000, 1600214400, 1600300800, 1600387200, 1600646400, 1600732800, 1600819200, 1600905600, 1600992000, 1601251200, 1601337600, 1601424000, 1601510400, 1601596800, 1601856000, 1601942400, 1602028800, 1602115200, 1602201600, 1602460800, 1602547200, 1602633600, 1602720000, 1602806400, 1603065600, 1603152000, 1603238400, 1603324800, 1603411200, 1603670400, 1603756800, 1603843200, 1603929600, 1604016000, 1604275200, 1604361600, 1604448000, 1604534400, 1604620800, 1604880000, 1604966400, 1605052800, 1605139200, 1605225600, 1605484800, 1605571200, 1605657600, 1605744000, 1605830400, 1606089600, 1606176000, 1606262400, 1606435200, 1606694400, 1606780800, 1606867200, 1606953600, 1607040000, 1607299200, 1607385600, 1607472000, 1607558400, 1607644800, 1607904000, 1607990400, 1608076800, 1608163200, 1608249600, 1608508800, 1608595200, 1608681600, 1608768000, 1609113600, 1609200000, 1609286400, 1609372800, 1609718400, 1609804800, 1609891200, 1609977600, 1610064000, 1610323200, 1610409600, 1610496000, 1610582400, 1610668800, 1611014400, 1611100800, 1611187200, 1611273600, 1611532800, 1611619200, 1611705600, 1611792000, 1611878400, 1612137600], 'v': [4529596, 4021535, 4531189, 6449050, 8892580, 6117925, 6948816, 5652665, 5529392, 4615202, 4224165, 3503398, 4896101, 4971922, 5613098, 3775332, 5086857, 4309439, 3174114, 4907871, 8364198, 5744697, 5828916, 5223448, 6474353, 5223626, 4509678, 4592736, 4212005, 3466687, 5901151, 4291047, 5588330, 6596529, 8396081, 7257350, 4897880, 6839041, 5789285, 4647330, 7190406, 6590956, 4366923, 4371208, 3762587, 3808676, 3444735, 2916836, 3010270, 3380138, 4708887, 3602102, 3790403, 2392867, 4063916, 4544382, 3129304, 2892039, 2913611, 2751316, 3286303, 4100836, 3030186, 3064695, 4155794, 3323686, 4427616, 3474347, 5995713, 3836846, 2381781, 2093787, 1451917, 5686787, 4872933, 3209310, 2957206, 4411449, 2655548, 4394815, 3514545, 3537744, 3669095, 3514582, 3321244, 3070919, 4243995, 3305142, 5309835, 4945051, 2821914, 3749758, 2955235, 4660158, 3149228, 4293556, 4160212]}

In [18]:
#Convert to Pandas Dataframe
AMZN = pd.DataFrame(res4)
AMZN

          c         h         l          o   s           t        v
0   3102.97  3187.390  3096.000  3172.9372  ok  1600041600  4529596
1   3156.13  3175.020  3108.920  3136.1600  ok  1600128000  4021535
2   3078.10  3187.238  3074.150  3179.9900  ok  1600214400  4531189
3   3008.73  3029.432  2972.550  3009.2500  ok  1600300800  6449050
4   2954.91  3037.800  2905.540  3031.7400  ok  1600387200  8892580
..      ...       ...       ...        ...  ..         ...      ...
92  3326.13  3338.000  3282.870  3296.3559  ok  1611619200  2955235
93  3232.58  3346.520  3207.080  3341.4900  ok  1611705600  4660158
94  3237.62  3301.680  3228.690  3235.0400  ok  1611792000  3149228
95  3206.20  3236.990  3184.550  3230.0000  ok  1611878400  4293556
96  3342.88  3350.260  3235.025  3242.3600  ok  1612137600  4160212

[97 rows x 7 columns]

In [19]:
Time_clean4=pd.to_datetime(AMZN.t,unit = "s")
Time_clean4

0    2020-09-14
1    2020-09-15
2    2020-09-16
3    2020-09-17
4    2020-09-18
        ...
92   2021-01-26
93   2021-01-27
94   2021-01-28
95   2021-01-29
96   2021-02-01
Name: t, Length: 97, dtype: datetime64[ns]

In [20]:
AMZN_update = pd.merge(AMZN, Time_clean4, left_index = True, right_index = True)
AMZN_update

          c         h         l          o   s         t_x        v        t_y
0   3102.97  3187.390  3096.000  3172.9372  ok  1600041600  4529596 2020-09-14
1   3156.13  3175.020  3108.920  3136.1600  ok  1600128000  4021535 2020-09-15
2   3078.10  3187.238  3074.150  3179.9900  ok  1600214400  4531189 2020-09-16
3   3008.73  3029.432  2972.550  3009.2500  ok  1600300800  6449050 2020-09-17
4   2954.91  3037.800  2905.540  3031.7400  ok  1600387200  8892580 2020-09-18
..      ...       ...       ...        ...  ..         ...      ...        ...
92  3326.13  3338.000  3282.870  3296.3559  ok  1611619200  2955235 2021-01-26
93  3232.58  3346.520  3207.080  3341.4900  ok  1611705600  4660158 2021-01-27
94  3237.62  3301.680  3228.690  3235.0400  ok  1611792000  3149228 2021-01-28
95  3206.20  3236.990  3184.550  3230.0000  ok  1611878400  4293556 2021-01-29
96  3342.88  3350.260  3235.025  3242.3600  ok  1612137600  4160212 2021-02-01

[97 rows x 8 columns]

In [21]:
AMZN_update = AMZN_update[["c","h","l","o","v","t_y"]]
AMZN_update

          c         h         l          o        v        t_y
0   3102.97  3187.390  3096.000  3172.9372  4529596 2020-09-14
1   3156.13  3175.020  3108.920  3136.1600  4021535 2020-09-15
2   3078.10  3187.238  3074.150  3179.9900  4531189 2020-09-16
3   3008.73  3029.432  2972.550  3009.2500  6449050 2020-09-17
4   2954.91  3037.800  2905.540  3031.7400  8892580 2020-09-18
..      ...       ...       ...        ...      ...        ...
92  3326.13  3338.000  3282.870  3296.3559  2955235 2021-01-26
93  3232.58  3346.520  3207.080  3341.4900  4660158 2021-01-27
94  3237.62  3301.680  3228.690  3235.0400  3149228 2021-01-28
95  3206.20  3236.990  3184.550  3230.0000  4293556 2021-01-29
96  3342.88  3350.260  3235.025  3242.3600  4160212 2021-02-01

[97 rows x 6 columns]

In [22]:
res5 = finnhub_client.stock_candles('DOGE-USD', 'D', 1599886800, 1612159200)
print(res5)

{'c': [0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0026, 0.0027, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0027, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0025, 0.0025, 0.0025, 0.0026, 0.0028, 0.0027, 0.0027, 0.0027, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0029, 0.0029, 0.0029, 0.0029, 0.003, 0.0035, 0.0033, 0.0036, 0.0042, 0.0037, 0.0032, 0.0033, 0.0034, 0.0034, 0.0036, 0.0033, 0.0034, 0.0034, 0.0033, 0.0034, 0.0034, 0.0033, 0.0032, 0.0032, 0.0031, 0.0031, 0.0032, 0.0033, 0.0032, 0.0032, 0.0034, 0.0037, 0.0039, 0.0039, 0.0046, 0.0048, 0.0045, 0.0038, 0.0046, 0.0046, 0.0045, 0.0045, 0.0046, 0.0045, 0.0046, 0.0047, 0.0057, 0.0106, 0.0098, 0.0098, 0.0099, 0.0105, 0.0097, 0.0098, 0.0102, 0.0099, 0.0088, 0.0081, 0.0086, 0.0094, 0.0094, 0.0093, 0.0091, 0.0092, 0.0091], 'h': [0.0028, 0.0028, 0.0028, 0.0029, 0.0029, 0.0029, 0.0028, 0.0028, 0.0028, 0.0028, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0026, 0.0026, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0029, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0025, 0.0026, 0.0026, 0.0028, 0.0028, 0.0027, 0.0028, 0.0029, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.003, 0.003, 0.003, 0.003, 0.003, 0.0035, 0.0037, 0.0036, 0.0042, 0.0043, 0.0038, 0.0034, 0.0035, 0.0035, 0.0036, 0.0036, 0.0034, 0.0035, 0.0034, 0.0034, 0.0034, 0.0034, 0.0034, 0.0032, 0.0032, 0.0031, 0.0032, 0.0033, 0.0033, 0.0033, 0.0034, 0.0041, 0.004, 0.004, 0.0047, 0.0054, 0.0048, 0.0047, 0.0046, 0.0046, 0.0046, 0.0048, 0.0047, 0.0046, 0.0047, 0.0047, 0.0057, 0.0137, 0.0139, 0.0114, 0.0102, 0.0109, 0.0105, 0.0103, 0.0107, 0.0109, 0.0099, 0.0091, 0.0086, 0.01, 0.0098, 0.0095, 0.0094, 0.0093, 0.0096], 'l': [0.0028, 0.0027, 0.0027, 0.0028, 0.0028, 0.0028, 0.0027, 0.0028, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0025, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0025, 0.0025, 0.0026, 0.0026, 0.0025, 0.0025, 0.0025, 0.0025, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0028, 0.0027, 0.0028, 0.0027, 0.0027, 0.0028, 0.0029, 0.0029, 0.0029, 0.0029, 0.003, 0.0032, 0.0032, 0.0036, 0.0036, 0.003, 0.0031, 0.0032, 0.0034, 0.0034, 0.0033, 0.0033, 0.0034, 0.0033, 0.0033, 0.0033, 0.0033, 0.0031, 0.003, 0.0031, 0.003, 0.0031, 0.0032, 0.0032, 0.0032, 0.0032, 0.0034, 0.0036, 0.0038, 0.0038, 0.0044, 0.0044, 0.0036, 0.0037, 0.0044, 0.0044, 0.0044, 0.0045, 0.0043, 0.0045, 0.0046, 0.0046, 0.0056, 0.0094, 0.0079, 0.009, 0.0097, 0.0092, 0.009, 0.0097, 0.0092, 0.0068, 0.0079, 0.0078, 0.0083, 0.0085, 0.0091, 0.0088, 0.009, 0.009], 'o': [0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0026, 0.0027, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0027, 0.0027, 0.0027, 0.0026, 0.0026, 0.0026, 0.0026, 0.0026, 0.0025, 0.0025, 0.0025, 0.0026, 0.0028, 0.0027, 0.0027, 0.0027, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0028, 0.0029, 0.0029, 0.0029, 0.0029, 0.003, 0.0035, 0.0033, 0.0036, 0.0042, 0.0037, 0.0033, 0.0033, 0.0034, 0.0034, 0.0036, 0.0033, 0.0034, 0.0034, 0.0033, 0.0034, 0.0034, 0.0033, 0.0032, 0.0032, 0.0031, 0.0031, 0.0032, 0.0033, 0.0032, 0.0032, 0.0034, 0.0037, 0.0039, 0.0039, 0.0046, 0.0048, 0.0045, 0.0038, 0.0046, 0.0046, 0.0045, 0.0045, 0.0046, 0.0045, 0.0046, 0.0047, 0.0057, 0.0106, 0.0098, 0.0098, 0.0099, 0.0105, 0.0097, 0.0098, 0.0102, 0.0099, 0.0088, 0.0081, 0.0086, 0.0094, 0.0094, 0.0093, 0.0091, 0.0092], 's': 'ok', 't': [1599865200, 1599951600, 1600038000, 1600124400, 1600210800, 1600297200, 1600383600, 1600470000, 1600556400, 1600642800, 1600729200, 1600815600, 1600902000, 1600988400, 1601074800, 1601161200, 1601247600, 1601334000, 1601420400, 1601506800, 1601593200, 1601679600, 1601766000, 1601852400, 1601938800, 1602025200, 1602111600, 1602198000, 1602284400, 1602370800, 1602457200, 1602543600, 1602630000, 1602716400, 1602802800, 1602889200, 1602975600, 1603062000, 1603148400, 1603234800, 1603321200, 1603407600, 1603494000, 1603580400, 1603670400, 1603756800, 1603843200, 1603929600, 1604016000, 1604102400, 1604188800, 1604275200, 1604361600, 1604448000, 1604534400, 1604620800, 1604707200, 1604793600, 1604880000, 1604966400, 1605052800, 1605139200, 1605225600, 1605312000, 1605398400, 1605484800, 1605571200, 1605657600, 1605744000, 1605830400, 1605916800, 1606003200, 1606089600, 1606176000, 1606262400, 1606348800, 1606435200, 1606521600, 1606608000, 1606694400, 1606780800, 1606867200, 1606953600, 1607040000, 1607126400, 1607212800, 1607299200, 1607385600, 1607472000, 1607558400, 1607644800, 1607731200, 1607817600, 1607904000, 1607990400, 1608076800, 1608163200, 1608249600, 1608336000, 1608422400, 1608508800, 1608595200, 1608681600, 1608768000, 1608854400, 1608940800, 1609027200, 1609113600, 1609200000, 1609286400, 1609372800, 1609459200, 1609545600, 1609632000, 1609718400, 1609804800, 1609891200, 1609977600, 1610064000, 1610150400, 1610236800, 1610323200, 1610409600, 1610496000, 1610582400, 1610668800, 1610755200, 1610841600, 1610928000, 1611014400], 'v': [117125272, 124253231, 128520945, 100194173, 148555504, 161305348, 147868185, 147046519, 145951916, 78753428, 36467574, 29993627, 30967521, 39515147, 36770554, 24673034, 35610655, 36596920, 32195544, 35974208, 46978131, 28617215, 31175662, 28690531, 31952344, 43259079, 43957899, 40540479, 96632426, 107632465, 101246789, 76963142, 87293434, 83794206, 117882236, 125692390, 72298802, 91049561, 65577101, 45017114, 44976452, 46856081, 44797614, 58532388, 122152251, 78927089, 72848720, 58929514, 63444096, 56189318, 45528681, 50142375, 62871653, 52552651, 31611962, 54267546, 44610218, 22754531, 28124348, 39633173, 33138759, 24028261, 29217750, 30334380, 25131683, 52063283, 46631463, 49460064, 40330643, 57656464, 162641693, 121660410, 101561039, 266716035, 174459927, 175520294, 92323023, 58033649, 46319971, 68622735, 80163603, 58705660, 47907031, 45062221, 43386582, 40936574, 36923813, 52702701, 45746721, 33740987, 41712942, 35466154, 37464322, 36238516, 37127782, 50989880, 172736659, 101799430, 98447179, 508066004, 664160056, 239288785, 205080908, 143405579, 136819916, 151728507, 154526398, 99641525, 90876496, 94834499, 85498337, 228961514, 3421562679, 2707003608, 1372398978, 687256066, 749915516, 520644705, 394462163, 485842353, 458583518, 637956958, 333308456, 240079032, 428369038, 398965924, 258630479, 254487989, 205025648, 249242632]}

In [23]:
#Convert to Pandas Dataframe
DOGE= pd.DataFrame(res5)
DOGE

          c       h       l       o   s           t          v
0    0.0028  0.0028  0.0028  0.0028  ok  1599865200  117125272
1    0.0028  0.0028  0.0027  0.0028  ok  1599951600  124253231
2    0.0028  0.0028  0.0027  0.0028  ok  1600038000  128520945
3    0.0028  0.0029  0.0028  0.0028  ok  1600124400  100194173
4    0.0028  0.0029  0.0028  0.0028  ok  1600210800  148555504
..      ...     ...     ...     ...  ..         ...        ...
125  0.0094  0.0098  0.0085  0.0094  ok  1610668800  398965924
126  0.0093  0.0095  0.0091  0.0094  ok  1610755200  258630479
127  0.0091  0.0094  0.0088  0.0093  ok  1610841600  254487989
128  0.0092  0.0093  0.0090  0.0091  ok  1610928000  205025648
129  0.0091  0.0096  0.0090  0.0092  ok  1611014400  249242632

[130 rows x 7 columns]

In [25]:
Time_clean5 = pd.to_datetime(DOGE.t, unit = "s")                        
Clean5 = pd.to_datetime(Time_clean5).dt.date                   
Clean5

0      2020-09-11
1      2020-09-12
2      2020-09-13
3      2020-09-14
4      2020-09-15
          ...
125    2021-01-15
126    2021-01-16
127    2021-01-17
128    2021-01-18
129    2021-01-19
Name: t, Length: 130, dtype: object

In [26]:
DOGE_update = pd.merge(DOGE, Time_clean5, left_index = True, right_index = True)
DOGE_update

,c,h,l,o,s,t_x,v,t_y
0,0.0028,0.0028,0.0028,0.0028,ok,1599865200,117125272,2020-09-11 23:00:00
1,0.0028,0.0028,0.0027,0.0028,ok,1599951600,124253231,2020-09-12 23:00:00
2,0.0028,0.0028,0.0027,0.0028,ok,1600038000,128520945,2020-09-13 23:00:00
3,0.0028,0.0029,0.0028,0.0028,ok,1600124400,100194173,2020-09-14 23:00:00
4,0.0028,0.0029,0.0028,0.0028,ok,1600210800,148555504,2020-09-15 23:00:00
...,...,...,...,...,...,...,...,...
125,0.0094,0.0098,0.0085,0.0094,ok,1610668800,398965924,2021-01-15 00:00:00
126,0.0093,0.0095,0.0091,0.0094,ok,1610755200,258630479,2021-01-16 00:00:00
127,0.0091,0.0094,0.0088,0.0093,ok,1610841600,254487989,2021-01-17 00:00:00
128,0.0092,0.0093,0.0090,0.0091,ok,1610928000,205025648,2021-01-18 00:00:00
129,0.0091,0.0096,0.0090,0.0092,ok,1611014400,249242632,2021-01-19 00:00:00

In [27]:
DOGE_update = DOGE_update[["c","h","l","o","v","t_y"]]
DOGE_update

          c       h       l       o          v                 t_y
0    0.0028  0.0028  0.0028  0.0028  117125272 2020-09-11 23:00:00
1    0.0028  0.0028  0.0027  0.0028  124253231 2020-09-12 23:00:00
2    0.0028  0.0028  0.0027  0.0028  128520945 2020-09-13 23:00:00
3    0.0028  0.0029  0.0028  0.0028  100194173 2020-09-14 23:00:00
4    0.0028  0.0029  0.0028  0.0028  148555504 2020-09-15 23:00:00
..      ...     ...     ...     ...        ...                 ...
125  0.0094  0.0098  0.0085  0.0094  398965924 2021-01-15 00:00:00
126  0.0093  0.0095  0.0091  0.0094  258630479 2021-01-16 00:00:00
127  0.0091  0.0094  0.0088  0.0093  254487989 2021-01-17 00:00:00
128  0.0092  0.0093  0.0090  0.0091  205025648 2021-01-18 00:00:00
129  0.0091  0.0096  0.0090  0.0092  249242632 2021-01-19 00:00:00

[130 rows x 6 columns]

In [29]:
res6 = finnhub_client.stock_candles('AMC', 'D', 1599886800, 1612159200)
print(res6)

{'c': [5.54, 5.52, 5.76, 5.72, 5.67, 5.32, 5.21, 4.78, 4.61, 4.88, 4.91, 4.86, 4.71, 4.65, 4.65, 4.13, 4.06, 4.04, 4.14, 4.05, 4.08, 3.54, 2.96, 2.78, 3.04, 3.54, 3.09, 3, 3.12, 2.97, 2.75, 2.79, 2.61, 2.52, 2.36, 2.15, 2.34, 2.31, 2.46, 2.49, 3.77, 3.51, 3.13, 2.94, 2.97, 3.11, 2.98, 3.26, 3.19, 3.35, 3.81, 4.58, 4.49, 4.45, 4.27, 4.15, 4.32, 3.63, 3.51, 3.56, 3.98, 3.86, 4.09, 3.92, 3.19, 2.86, 2.78, 2.85, 2.8, 2.68, 2.59, 2.56, 2.51, 2.39, 2.29, 2.16, 2.12, 2.01, 1.98, 2.01, 2.05, 2.14, 2.2, 2.29, 2.18, 2.18, 2.33, 3.06, 2.97, 2.98, 3.51, 4.42, 4.96, 19.9, 8.63, 13.26, 13.3], 'h': [5.8703, 5.87, 5.875, 5.79, 5.74, 5.48, 5.32, 5.29, 4.9, 4.93, 5.04, 4.94, 4.95, 4.8, 4.66, 4.36, 4.27, 4.11, 4.185, 4.18, 4.09, 3.91, 3.2, 2.96, 3.29, 3.88, 3.31, 3.1299, 3.15, 3.15, 2.93, 2.9, 2.74, 2.68, 2.49, 2.32, 2.59, 2.4299, 2.57, 2.62, 4.39, 4.03, 3.24, 3.07, 2.99, 3.39, 3.04, 3.37, 3.375, 3.37, 3.85, 5, 4.85, 4.62, 4.45, 4.43, 4.34, 4.215, 3.76, 3.74, 4.02, 4.33, 4.1, 4.25, 4.01, 3.24, 2.89, 2.95, 2.85, 2.74, 2.75, 2.65, 2.6, 2.63, 2.46, 2.3, 2.22, 2.2, 2.03, 2.23, 2.11, 2.211, 2.27, 2.39, 2.38, 2.32, 2.55, 3.2, 3.34, 3.06, 3.74, 4.88, 5.19, 20.36, 16.5, 16, 17.25], 'l': [5.51, 5.52, 5.42, 5.58, 5.57, 5.01, 5.14, 4.74, 4.3573, 4.5042, 4.61, 4.75, 4.7, 4.63, 4.42, 4.05, 4.05, 3.94, 4.02, 4.04, 4, 3.52, 2.66, 2.76, 2.8, 3.23, 3.05, 2.98, 2.84, 2.95, 2.68, 2.61, 2.58, 2.48, 2.28, 2.11, 2.3, 2.2401, 2.27, 2.33, 3.23, 3.34, 3, 2.92, 2.78, 3.05, 2.9, 3.01, 3.15, 3.21, 3.41, 4.15, 4.2, 4.36, 3.99, 4.09, 3.95, 3.5, 3.3, 3.33, 3.61, 3.75, 3.77, 3.87, 3, 2.76, 2.72, 2.74, 2.76, 2.58, 2.52, 2.54, 2.48, 2.36, 2.28, 2.13, 2.08, 2, 1.91, 1.97, 2.02, 2.07, 2.15, 2.235, 2.13, 2.13, 2.18, 2.57, 2.75, 2.85, 2.81, 3.85, 4.37, 11.01, 6.51, 11.6, 12.91], 'o': [5.84, 5.6, 5.52, 5.67, 5.71, 5.42, 5.22, 5.22, 4.69, 4.64, 5.04, 4.88, 4.8, 4.78, 4.48, 4.3, 4.26, 4.08, 4.13, 4.17, 4.03, 3.9, 3.09, 2.84, 2.87, 3.31, 3.3, 3.1, 2.96, 3.13, 2.92, 2.88, 2.69, 2.65, 2.48, 2.3, 2.34, 2.4, 2.35, 2.43, 4.27, 3.99, 3.2308, 3.07, 2.98, 3.39, 3.01, 3.08, 3.16, 3.25, 3.51, 4.16, 4.57, 4.54, 4.41, 4.43, 4.08, 4.01, 3.75, 3.45, 3.61, 4.22, 3.79, 4.04, 4.01, 3.24, 2.87, 2.8, 2.85, 2.61, 2.73, 2.58, 2.59, 2.63, 2.44, 2.3, 2.17, 2.2, 1.99, 2.03, 2.08, 2.09, 2.16, 2.24, 2.33, 2.22, 2.2, 2.8, 3.29, 3, 2.91, 4.71, 5.09, 20.34, 11.98, 14.31, 17], 's': 'ok', 't': [1600041600, 1600128000, 1600214400, 1600300800, 1600387200, 1600646400, 1600732800, 1600819200, 1600905600, 1600992000, 1601251200, 1601337600, 1601424000, 1601510400, 1601596800, 1601856000, 1601942400, 1602028800, 1602115200, 1602201600, 1602460800, 1602547200, 1602633600, 1602720000, 1602806400, 1603065600, 1603152000, 1603238400, 1603324800, 1603411200, 1603670400, 1603756800, 1603843200, 1603929600, 1604016000, 1604275200, 1604361600, 1604448000, 1604534400, 1604620800, 1604880000, 1604966400, 1605052800, 1605139200, 1605225600, 1605484800, 1605571200, 1605657600, 1605744000, 1605830400, 1606089600, 1606176000, 1606262400, 1606435200, 1606694400, 1606780800, 1606867200, 1606953600, 1607040000, 1607299200, 1607385600, 1607472000, 1607558400, 1607644800, 1607904000, 1607990400, 1608076800, 1608163200, 1608249600, 1608508800, 1608595200, 1608681600, 1608768000, 1609113600, 1609200000, 1609286400, 1609372800, 1609718400, 1609804800, 1609891200, 1609977600, 1610064000, 1610323200, 1610409600, 1610496000, 1610582400, 1610668800, 1611014400, 1611100800, 1611187200, 1611273600, 1611532800, 1611619200, 1611705600, 1611792000, 1611878400, 1612137600], 'v': [4638082, 5099315, 4390816, 2619665, 2428464, 4563153, 2090061, 4285151, 4569670, 2375454, 4676540, 2521765, 2515422, 3223808, 3575994, 9468797, 8404181, 6917700, 7868481, 5021406, 3245671, 10164744, 31761265, 9808591, 18565805, 40385068, 15978782, 7277305, 12339596, 6634962, 10458790, 11251269, 8141103, 9019304, 11013232, 11180071, 15441929, 7609136, 8056242, 9049450, 132510953, 42129263, 24066098, 14836046, 22451870, 47604346, 22482959, 31717281, 13986442, 17088783, 31514579, 62884604, 22647306, 10097374, 16554987, 12293499, 11847629, 66080891, 33157263, 20503852, 29530632, 20991197, 19872845, 22310377, 67158976, 54432125, 25423239, 23799298, 21941652, 22699798, 21686612, 15724765, 11094189, 23942699, 21086148, 40278438, 28234251, 29873796, 28148314, 67363337, 26150489, 39553343, 41695836, 41784333, 45847659, 49638794, 162356375, 256276010, 181862210, 64823844, 268273367, 443238115, 456850232, 1253253552, 591223928, 602193320, 434607989]}

In [30]:
#Convert to Pandas Dataframe
AMC= pd.DataFrame(res6)
AMC

        c        h      l      o   s           t           v
0    5.54   5.8703   5.51   5.84  ok  1600041600     4638082
1    5.52   5.8700   5.52   5.60  ok  1600128000     5099315
2    5.76   5.8750   5.42   5.52  ok  1600214400     4390816
3    5.72   5.7900   5.58   5.67  ok  1600300800     2619665
4    5.67   5.7400   5.57   5.71  ok  1600387200     2428464
..    ...      ...    ...    ...  ..         ...         ...
92   4.96   5.1900   4.37   5.09  ok  1611619200   456850232
93  19.90  20.3600  11.01  20.34  ok  1611705600  1253253552
94   8.63  16.5000   6.51  11.98  ok  1611792000   591223928
95  13.26  16.0000  11.60  14.31  ok  1611878400   602193320
96  13.30  17.2500  12.91  17.00  ok  1612137600   434607989

[97 rows x 7 columns]

In [32]:
Time_clean6 = pd.to_datetime(AMC.t, unit = "s")                        
Time_clean6

0    2020-09-14
1    2020-09-15
2    2020-09-16
3    2020-09-17
4    2020-09-18
        ...
92   2021-01-26
93   2021-01-27
94   2021-01-28
95   2021-01-29
96   2021-02-01
Name: t, Length: 97, dtype: datetime64[ns]

In [33]:
AMC_update = pd.merge(AMC, Time_clean6, left_index = True, right_index = True)
AMC_update

        c        h      l      o   s         t_x           v        t_y
0    5.54   5.8703   5.51   5.84  ok  1600041600     4638082 2020-09-14
1    5.52   5.8700   5.52   5.60  ok  1600128000     5099315 2020-09-15
2    5.76   5.8750   5.42   5.52  ok  1600214400     4390816 2020-09-16
3    5.72   5.7900   5.58   5.67  ok  1600300800     2619665 2020-09-17
4    5.67   5.7400   5.57   5.71  ok  1600387200     2428464 2020-09-18
..    ...      ...    ...    ...  ..         ...         ...        ...
92   4.96   5.1900   4.37   5.09  ok  1611619200   456850232 2021-01-26
93  19.90  20.3600  11.01  20.34  ok  1611705600  1253253552 2021-01-27
94   8.63  16.5000   6.51  11.98  ok  1611792000   591223928 2021-01-28
95  13.26  16.0000  11.60  14.31  ok  1611878400   602193320 2021-01-29
96  13.30  17.2500  12.91  17.00  ok  1612137600   434607989 2021-02-01

[97 rows x 8 columns]

In [34]:
AMC_update = AMC_update[["c","h","l","o","v","t_y"]]
AMC_update

        c        h      l      o           v        t_y
0    5.54   5.8703   5.51   5.84     4638082 2020-09-14
1    5.52   5.8700   5.52   5.60     5099315 2020-09-15
2    5.76   5.8750   5.42   5.52     4390816 2020-09-16
3    5.72   5.7900   5.58   5.67     2619665 2020-09-17
4    5.67   5.7400   5.57   5.71     2428464 2020-09-18
..    ...      ...    ...    ...         ...        ...
92   4.96   5.1900   4.37   5.09   456850232 2021-01-26
93  19.90  20.3600  11.01  20.34  1253253552 2021-01-27
94   8.63  16.5000   6.51  11.98   591223928 2021-01-28
95  13.26  16.0000  11.60  14.31   602193320 2021-01-29
96  13.30  17.2500  12.91  17.00   434607989 2021-02-01

[97 rows x 6 columns]

In [35]:
res7 = finnhub_client.stock_candles('DIS', 'D', 1599886800, 1612159200)
print(res7)

{'c': [131.25, 131.24, 132.09, 130.22, 128.63, 125.41, 127.21, 123.28, 122.49, 124, 125.99, 125.4, 124.08, 123.31, 122.55, 123.37, 120.93, 122.91, 123.09, 124.98, 124.97, 128.96, 126.59, 127.36, 126.81, 124.23, 124.95, 126.63, 127.56, 128.35, 124.06, 123.31, 118.47, 121.54, 121.25, 120.13, 124.02, 125.07, 126.96, 127.46, 142.59, 142.11, 137.82, 135.52, 138.36, 144.67, 144.5, 143.9, 141.72, 141.07, 145.98, 151.49, 149.09, 147.13, 148.01, 149.44, 153.61, 153.24, 154.14, 153.68, 153.72, 154.43, 154.69, 175.72, 169.3, 173.94, 173.12, 173.55, 172.89, 170.69, 170.45, 173.55, 173.73, 178.86, 177.3, 181.17, 181.18, 177.68, 178.44, 179.12, 178.58, 178.69, 179.09, 175.99, 176.12, 173.43, 171.44, 172.26, 173.64, 171.28, 172.78, 171.89, 169.56, 163.03, 171.88, 168.17, 170.97], 'h': [132.93, 132.54, 133.62, 131.77, 130.79, 126.8858, 127.47, 127.3, 123.8, 124.19, 126.86, 126.29, 125.55, 125.47, 123.6775, 123.595, 124.19, 123.3098, 123.75, 125.5495, 125.94, 131.36, 129.5, 127.4, 128.12, 127.4, 125.73, 127.56, 128.1, 128.5, 127.11, 124.61, 121.53, 122.63, 121.75, 122.93, 125.07, 126.86, 128.62, 128.04, 147.68, 142.37, 142, 138.49, 141.19, 144.74, 144.83, 145.48, 143.2996, 142.61, 147.75, 151.86, 150.27, 150.3499, 148.69, 151.4, 154.01, 154.4399, 154.68, 153.88, 154.88, 157.46, 155.34, 179.45, 177.3, 174.4699, 174.85, 174.84, 175.843, 171.94, 171.45, 175.95, 174.5799, 179.92, 180.2, 183.4, 183.4, 182.59, 180.3399, 181.61, 179.95, 180.02, 181.255, 178.32, 177.73, 178.35, 174.19, 173.71, 177.88, 175, 175.2499, 173.11, 173.345, 166.34, 172.88, 169.81, 171.7289], 'l': [130.904, 131.005, 131.4, 128.6, 128.1201, 123.59, 124.7, 122.901, 120.78, 120.98, 125.37, 123.675, 123.24, 122.42, 121.69, 122.33, 120.61, 120.93, 122.4201, 123.33, 123.73, 127.9, 125.29, 124.43, 126.33, 123.71, 123.64, 123.835, 125.97, 126.35, 122.95, 123.03, 118.32, 117.23, 119.0881, 119.81, 121.37, 123.41, 125.8, 124.6147, 138.065, 137.67, 136.62, 134.105, 136.52, 141.57, 142.56, 143.35, 141.7, 140.86, 141.7, 147.849, 147.235, 146.53, 146.29, 149, 148.34, 152.13, 152.81, 152.26, 152.2505, 153.89, 152.5, 165.33, 168.81, 167.8201, 171.6226, 171.96, 172.28, 168.19, 169.16, 172.3, 172.38, 175.05, 176.22, 178.37, 180.27, 174.73, 176.2, 177.2836, 177.575, 176.6, 177.35, 174.861, 173.74, 173.4, 170.17, 171.44, 173, 171.02, 171.89, 168.77, 169.05, 160.52, 165.95, 165.7901, 168.03], 'o': [132.53, 131.46, 132.17, 130.55, 129.5, 125.98, 125.26, 127.07, 121.93, 121.36, 125.75, 125.92, 123.24, 124.94, 121.99, 123.26, 123.13, 121.95, 123.58, 123.85, 124.9, 129.8, 129.14, 125, 127.81, 127.37, 124.58, 124.36, 126.67, 128.1, 127.11, 124.03, 121.01, 118.16, 120.64, 122.24, 121.605, 123.58, 126.78, 126.255, 140.26, 139.97, 141.47, 136.34, 140.9, 141.57, 144.4, 144.5, 142.57, 141.71, 142.45, 148.16, 150.27, 149, 147.06, 149.57, 149.49, 153.45, 153.69, 153.18, 152.42, 156.29, 153.32, 169.675, 173.8, 170.49, 173.99, 173.815, 173.6, 170.09, 170, 172.96, 173.99, 175.75, 180.01, 178.5, 181.22, 182.255, 176.2, 178.32, 179.5, 178.81, 177.75, 177.3, 174.4, 177.01, 172.95, 172.1, 175.22, 173.24, 174, 171.89, 173, 165.01, 166.17, 168.8, 170.835], 's': 'ok', 't': [1600041600, 1600128000, 1600214400, 1600300800, 1600387200, 1600646400, 1600732800, 1600819200, 1600905600, 1600992000, 1601251200, 1601337600, 1601424000, 1601510400, 1601596800, 1601856000, 1601942400, 1602028800, 1602115200, 1602201600, 1602460800, 1602547200, 1602633600, 1602720000, 1602806400, 1603065600, 1603152000, 1603238400, 1603324800, 1603411200, 1603670400, 1603756800, 1603843200, 1603929600, 1604016000, 1604275200, 1604361600, 1604448000, 1604534400, 1604620800, 1604880000, 1604966400, 1605052800, 1605139200, 1605225600, 1605484800, 1605571200, 1605657600, 1605744000, 1605830400, 1606089600, 1606176000, 1606262400, 1606435200, 1606694400, 1606780800, 1606867200, 1606953600, 1607040000, 1607299200, 1607385600, 1607472000, 1607558400, 1607644800, 1607904000, 1607990400, 1608076800, 1608163200, 1608249600, 1608508800, 1608595200, 1608681600, 1608768000, 1609113600, 1609200000, 1609286400, 1609372800, 1609718400, 1609804800, 1609891200, 1609977600, 1610064000, 1610323200, 1610409600, 1610496000, 1610582400, 1610668800, 1611014400, 1611100800, 1611187200, 1611273600, 1611532800, 1611619200, 1611705600, 1611792000, 1611878400, 1612137600], 'v': [8391896, 7289104, 6605949, 6723544, 9916267, 10352686, 6978779, 8323568, 8479997, 6851806, 6283678, 7432567, 13642450, 8908316, 6490237, 5919150, 9051995, 10187808, 7404570, 11502207, 10958228, 22388972, 11536579, 7748617, 6295112, 6576923, 6166070, 6591520, 5180071, 5439906, 8578901, 6813840, 11654677, 9583749, 8098891, 9186007, 8144940, 7483043, 7654761, 6259697, 35634684, 18115410, 9600863, 13893301, 21074457, 16382489, 9354936, 9456229, 8892462, 8485920, 12887045, 16711735, 9551978, 5306365, 9710134, 8827829, 10601879, 9063241, 6033271, 6815460, 7900575, 10804340, 8993216, 87410704, 30939390, 18817185, 11105791, 9004574, 21172083, 11424234, 6424901, 9994045, 2720964, 13145438, 6875370, 11680443, 7073495, 13426595, 7771802, 7517758, 7300815, 7894454, 6464144, 8349839, 6839540, 8951171, 12232542, 7834738, 9809232, 8423916, 9517202, 7833745, 7523199, 18239248, 14449099, 12848825, 8140399]}

In [36]:
#Convert to Pandas Dataframe
DIS= pd.DataFrame(res7)
DIS

         c         h         l        o   s           t         v
0   131.25  132.9300  130.9040  132.530  ok  1600041600   8391896
1   131.24  132.5400  131.0050  131.460  ok  1600128000   7289104
2   132.09  133.6200  131.4000  132.170  ok  1600214400   6605949
3   130.22  131.7700  128.6000  130.550  ok  1600300800   6723544
4   128.63  130.7900  128.1201  129.500  ok  1600387200   9916267
..     ...       ...       ...      ...  ..         ...       ...
92  169.56  173.3450  169.0500  173.000  ok  1611619200   7523199
93  163.03  166.3400  160.5200  165.010  ok  1611705600  18239248
94  171.88  172.8800  165.9500  166.170  ok  1611792000  14449099
95  168.17  169.8100  165.7901  168.800  ok  1611878400  12848825
96  170.97  171.7289  168.0300  170.835  ok  1612137600   8140399

[97 rows x 7 columns]

In [37]:
Time_clean7 = pd.to_datetime(DIS.t, unit = "s")                        
Time_clean7

0    2020-09-14
1    2020-09-15
2    2020-09-16
3    2020-09-17
4    2020-09-18
        ...
92   2021-01-26
93   2021-01-27
94   2021-01-28
95   2021-01-29
96   2021-02-01
Name: t, Length: 97, dtype: datetime64[ns]

In [38]:
DIS_update = pd.merge(DIS, Time_clean7, left_index = True, right_index = True)
DIS_update

         c         h         l        o   s         t_x         v        t_y
0   131.25  132.9300  130.9040  132.530  ok  1600041600   8391896 2020-09-14
1   131.24  132.5400  131.0050  131.460  ok  1600128000   7289104 2020-09-15
2   132.09  133.6200  131.4000  132.170  ok  1600214400   6605949 2020-09-16
3   130.22  131.7700  128.6000  130.550  ok  1600300800   6723544 2020-09-17
4   128.63  130.7900  128.1201  129.500  ok  1600387200   9916267 2020-09-18
..     ...       ...       ...      ...  ..         ...       ...        ...
92  169.56  173.3450  169.0500  173.000  ok  1611619200   7523199 2021-01-26
93  163.03  166.3400  160.5200  165.010  ok  1611705600  18239248 2021-01-27
94  171.88  172.8800  165.9500  166.170  ok  1611792000  14449099 2021-01-28
95  168.17  169.8100  165.7901  168.800  ok  1611878400  12848825 2021-01-29
96  170.97  171.7289  168.0300  170.835  ok  1612137600   8140399 2021-02-01

[97 rows x 8 columns]

In [39]:
DIS_update = DIS_update[["c","h","l","o","v","t_y"]]
DIS_update

         c         h         l        o         v        t_y
0   131.25  132.9300  130.9040  132.530   8391896 2020-09-14
1   131.24  132.5400  131.0050  131.460   7289104 2020-09-15
2   132.09  133.6200  131.4000  132.170   6605949 2020-09-16
3   130.22  131.7700  128.6000  130.550   6723544 2020-09-17
4   128.63  130.7900  128.1201  129.500   9916267 2020-09-18
..     ...       ...       ...      ...       ...        ...
92  169.56  173.3450  169.0500  173.000   7523199 2021-01-26
93  163.03  166.3400  160.5200  165.010  18239248 2021-01-27
94  171.88  172.8800  165.9500  166.170  14449099 2021-01-28
95  168.17  169.8100  165.7901  168.800  12848825 2021-01-29
96  170.97  171.7289  168.0300  170.835   8140399 2021-02-01

[97 rows x 6 columns]