In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time
import pandas as pd
import finnhub

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324
[WDM] - Driver [/Users/krishna/.wdm/drivers/chromedriver/mac64/88.0.4324.96/chromedriver] found in cache

In [ ]:
url = 'https://www.wsj.com/news/archive/years'

In [4]:
# Setup client
from config import api_finn
finnhub_client = finnhub.Client(api_key=api_finn)

In [5]:
# Stock candles
res = finnhub_client.stock_candles('AAPL', 'D', 1590988249, 1591852249)
print(res)

{'c': [321.85, 323.34, 325.12, 322.32, 331.5, 333.46, 343.99, 352.84, 335.9], 'h': [322.35, 323.44, 326.2, 325.62, 331.75, 333.6, 345.61, 354.77, 351.06], 'l': [317.21, 318.93, 322.3, 320.78, 323.23, 327.32, 332.01, 346.09, 335.48], 'o': [317.75, 320.745, 324.66, 324.39, 323.35, 330.25, 332.14, 347.9, 349.31], 's': 'ok', 't': [1590969600, 1591056000, 1591142400, 1591228800, 1591315200, 1591574400, 1591660800, 1591747200, 1591833600], 'v': [20254653, 21910704, 26122804, 21890091, 34312550, 23913634, 36928091, 41662938, 50415613]}

In [6]:
#Convert to Pandas Dataframe
pd.DataFrame(res)

        c       h       l        o   s           t         v
0  321.85  322.35  317.21  317.750  ok  1590969600  20254653
1  323.34  323.44  318.93  320.745  ok  1591056000  21910704
2  325.12  326.20  322.30  324.660  ok  1591142400  26122804
3  322.32  325.62  320.78  324.390  ok  1591228800  21890091
4  331.50  331.75  323.23  323.350  ok  1591315200  34312550
5  333.46  333.60  327.32  330.250  ok  1591574400  23913634
6  343.99  345.61  332.01  332.140  ok  1591660800  36928091
7  352.84  354.77  346.09  347.900  ok  1591747200  41662938
8  335.90  351.06  335.48  349.310  ok  1591833600  50415613